

.start-view {
    display: grid;
    max-width: 80%;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 1rem;
}

@media(max-width: 70em) {
    .start-view {
        grid-template-columns: 1fr;
    }
}

.header-auctions {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0 3rem 0;
}
